#ifndef {{ project_name | upper }}_BRIDGE_H_
#define {{ project_name | upper }}_BRIDGE_H_

#include "firmware/{{ project_name }}.h"
#include "firmware/nnet_utils/nnet_helpers.h"
#include <cstdlib>
#include <map>
#include <string>

namespace nnet {
bool trace_enabled = false;
std::map<std::string, void *> *trace_outputs = NULL;
size_t trace_type_size = sizeof(double);
} // namespace nnet

template <typename scalar_T>
void pack_aria_input(scalar_T *logical_input, hls::stream<{{ input_wide_type }}> &packed_input) {
    for (unsigned word_index = 0; word_index < {{ input_words_per_inference }}; word_index++) {
        {{ input_wide_type }} word;
        for (unsigned row = 0; row < {{ temporal_pack }}; row++) {
            for (unsigned channel = 0; channel < 4; channel++) {
                word[row * 4 + channel] = logical_input[(word_index * {{ temporal_pack }} + row) * 4 + channel];
            }
        }
        packed_input.write(word);
    }
}

extern "C" {

struct trace_data {
    const char *name;
    void *data;
};

void allocate_trace_storage(size_t element_size) {
    nnet::trace_enabled = true;
    nnet::trace_outputs = new std::map<std::string, void *>;
    nnet::trace_type_size = element_size;
}

void free_trace_storage() {
    if (nnet::trace_outputs == NULL) {
        return;
    }
    for (std::map<std::string, void *>::iterator item = nnet::trace_outputs->begin();
         item != nnet::trace_outputs->end(); item++) {
        free(item->second);
    }
    delete nnet::trace_outputs;
    nnet::trace_outputs = NULL;
    nnet::trace_enabled = false;
}

void collect_trace_output(struct trace_data *outputs) {
    int index = 0;
    for (std::map<std::string, void *>::iterator item = nnet::trace_outputs->begin();
         item != nnet::trace_outputs->end(); item++) {
        outputs[index].name = item->first.c_str();
        outputs[index].data = item->second;
        index++;
    }
}

void {{ project_name }}_float(float *{{ input_name }}, float *{{ output_name }}) {
    hls::stream<{{ input_wide_type }}> {{ input_name }}_ap("{{ input_name }}");
    pack_aria_input({{ input_name }}, {{ input_name }}_ap);
    hls::stream<{{ output_type }}> {{ output_name }}_ap("{{ output_name }}");
    {{ project_name }}({{ input_name }}_ap, {{ output_name }}_ap);
    nnet::convert_data<{{ output_type }}, float, 1>({{ output_name }}_ap, {{ output_name }});
}

void {{ project_name }}_double(double *{{ input_name }}, double *{{ output_name }}) {
    hls::stream<{{ input_wide_type }}> {{ input_name }}_ap("{{ input_name }}");
    pack_aria_input({{ input_name }}, {{ input_name }}_ap);
    hls::stream<{{ output_type }}> {{ output_name }}_ap("{{ output_name }}");
    {{ project_name }}({{ input_name }}_ap, {{ output_name }}_ap);
    nnet::convert_data<{{ output_type }}, double, 1>({{ output_name }}_ap, {{ output_name }});
}

} // extern "C"

#endif
