{{ baseline_defines_body }}

// RAVEL Aria wide-stream types.
typedef nnet::array<{{ input_precision }}, {{ temporal_pack }}*{{ channels_per_row }}> {{ input_wide_type }};
typedef nnet::array<{{ conv_precision }}, {{ values_per_internal_word }}> {{ conv_wide_type }};
typedef nnet::array<{{ activation_precision }}, {{ values_per_internal_word }}> {{ activation_wide_type }};
typedef nnet::array<{{ pool_precision }}, {{ values_per_internal_word }}> {{ pool_wide_type }};

#endif
