{{ baseline_defines_body }}

// RAVEL Aria 1.1.0 wide-stream types.
typedef nnet::array<{{ input_precision }}, 2*4> {{ input_wide_type }};
typedef nnet::array<{{ conv_precision }}, 7*4> {{ conv_wide_type }};
typedef nnet::array<{{ activation_precision }}, 7*4> {{ activation_wide_type }};
typedef nnet::array<{{ pool_precision }}, 7*4> {{ pool_wide_type }};

#endif
